.App {
  text-align: center;

}
.fondo{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../public/img/rohit-choudhari-puy-FW4fOJc-unsplash.jpg");
}
.user-logo{
  height: 20vmin;
  pointer-events: none;
}
.left-logo{
  float: left;
  margin-left: 15%;
}
.right{
  float:right;
}
.carta-estudiante{
  padding: 3%;

}
.carta-estudiante-body{
  padding: 3%;
  border: solid 1px black;
}
.justify{
  margin-bottom: 1%;
  /* margin-buttom: 0.5%; */
  align-items: justify;
  text-align: justify;
  align-content: justify-all;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
}
.btn-cierre{
  /* color: #ffffff; */
  font-size: 10px;
  float: right;
  margin: 7% 10% 3% 0%;
}

.labels{
  text-align: left !important;
  margin-bottom: 2%;
}
.btn-separar{
  float: right;
  margin: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .user-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.dashboard{
  /* border-right: 1px solid black; */
  min-height: 100%;
  background-color: #ffffff;
  box-Shadow: 0 0 10px rgba(0,0,0,0.5);
}
.expansor{
  min-height: 90vh;
}
.card-login{
  /* text-align: justify; */
  margin: 15%;
}
.dashboard > ul {

  position: fixed;
  /* min-height: 100vh; */
  left: 7%;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.opc-menu{
  background-color: rgba(3, 20, 121, 0.8);
  color: black;
  justify-content: center;
  font-weight: 300;
  align-items: center;
  font-size: calc(10px + 1vmin);
  min-height: 10vh;
}
.opc-menu:hover{
  background-color: red;
  color: #ffffff;
  cursor: pointer;
}
.App-dasboard {
  position: fixed;
  display: flex;
  background-color: rgba(3, 20, 121, 0.8);
  height: 100%;
  float: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
